/* JavaScript Mascot */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

::selection {
  background-color: #f7df1e;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 0 50px 100px 50px;
}

a,
a:visited {
  color: inherit;
  font-weight: 800;
}

header {
  padding: 20px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 1000;
  font-style: normal;
  font-size: 4em;
  text-align: center;
  background-color: #f7df1e;
  padding: 0 20px;
  max-width: fit-content;
  text-align: center;
  transform: rotate(-2.5deg);
}

.window {
  padding: 30px 20px;
  box-shadow: 8px 8px 0px;
  border: 4px solid black;
  max-width: 60ch;
}

h2 {
  font-weight: 400;
  font-weight: 1000;
  font-style: normal;
  font-size: 2.5em;
  margin-top: 50px;
}

h3 {
  font-size: 1.6em;
  font-weight: 1000;
}

#mascot {
  margin-bottom: 10px;
}

img {
  max-width: 500px;
  margin: 40px 0 5px 0;
}

p {
  font-size: 1.2em;
  max-width: 55ch;
}

.caption {
  font-style: italic;
  font-size: 1.1em;
}

#icons-container {
  display: flex;
  justify-content: center;
}

#cc {
  margin-top: 10px;
}

#cc,
#agpl {
  height: 60px;
  filter: grayscale(1) contrast(1.5);
}

#email {
  font-size: 1.3em;
  font-weight: 800;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 10px 0;
  font-size: 0.85em;
  font-weight: 800;
  background-color: white;
  width: 100%;
}

#footer-mascot {
  margin-left: -5px;
}

#js,
#footer-mascot {
  height: 100px;
}

#footer-icons {
  display: flex;
}

#screenshot {
  display: none;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 0 10vw;
    background-color: white;
  }

  main {
    padding: 0;
  }

  h1 {
    line-height: 55px;
  }

  .window {
    padding: 0;
    box-shadow: none;
    border: none;
  }

  img {
    width: 100%;
  }

  #cc,
  #agpl {
    height: auto;
    width: 50%;
  }
}
